// ==========================================================================
// Base – Assets
// ==========================================================================

// Custom Buttons
.menu-toggle {
    width: 26px;
    height: 30px;
    position: fixed;
    top: 20px;
    left: 25px;
    cursor: pointer;
    z-index: 11;
    &:before{
      content:'menu';
      font-weight:900;
      font-family: @link-font-family;
      position:absolute;
      text-transform: uppercase;
      margin-left:35px;
      display: inline-block;
    }
}

.menu-toggle.on {
    .one,.two,.three{
      background:@base-background-color;
    }
    .one {
        .transform(rotate(45deg) translate(6px, 6px));
    }
    .two {
        opacity: 0;
    }
    .three {
        .transform(rotate(-45deg) translate(3px, -4px));
    }
    &:before{
      content:'close';
      color:@base-background-color;
    }
}
.one,.two,.three {
    width: 100%;
    height: 3px;
    background: @base-font-color;
    margin: 4px auto;
    backface-visibility: hidden;
    .transition(0.6s);

}

.menu-section{
    position: fixed;
    width: 280px;
    height: 100%;
    margin-left:-280px;
    background-color: @menu-background-color;
    .transition(0.6s);
}
.on-menu {
    opacity:1;
    z-index:10;
}
.menu-section.on-menu{
    .transform(translate(280px, 0px));
}

.off-menu{
    opacity:0;
    z-index:-10;
}
.menu-section.off-menu{
    .transform(translate(-280px, 0px));
}

nav {
    ul {
        margin: 70px 0px 0px 0px;
        padding: 0px;
        font-family: @link-font-family;
        font-weight:300;
        list-style: none;
        position: absolute;
        width: 100%;
        .animate-delay(0.6s);
        .transition(0.6s);

        a {
            text-decoration: none;
            color: @base-background-color;
            font-size: 1.1rem;
            line-height: 2.2rem;
            width: 100%;
            padding: 0px 0px 0px 50px;
            display:block;
            box-shadow:none;
            &:hover, &:focus{
              background-color: fadeout(@base-background-color, 80%);
              .box-shadow(inset 0 -1px 0 lighten(@menu-background-color, 10%));
            }
            &:active{
              .box-shadow(inset 0 1px 0 lighten(@menu-background-color, 10%));
            }
            &.active{
              background-color: rgba(254,254,254,0.1);
            }
        }
        a.active{
            background-color: rgba(254,254,254,0.1);
        }

    }

}

.footer{
  margin: 0 auto;
  width: 530px;
  ul{
    margin:0px;
  }
  ul li{
    float:left;
    list-style-type:none;
    padding:10px;
    text-align:center;

  }
}
.main_div h1{
  font-weight: 900;
  font-family: @base-font-family;
  font-size:3rem;
  text-align: center;
  margin-bottom: 4rem;
  text-transform: uppercase;


}
.space {
    width: 100%;
    opacity: .6;
    height: 100vh;
    position: fixed;
    .cover();
}

.main-content {
  margin-top:160px;
}

.main_div{
  margin:40px 20px 0px 20px;
  padding:20px;
  .box-shadow(inset 0 -1px 0 darken(#fff, 10%));
  background-color: rgba(254,254,254,0.7);
}
.tags h3{
  text-align: right;
}

.btn {
  padding: .8em 1em;
  margin: 15px 0px 15px 0px;
  text-transform: uppercase;
  font-size: .9em;
  float: right;
}
.description-input{
  min-height:100px;
}
.overlay{
  -webkit-transition:all linear 0.6s;
  transition:all linear 0.6s;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  width: 100%;
  height: 100%;
  position: fixed;
  opacity:0;
  background-color: rgba(0,0,0,0.4);
  z-index: -1;
  &.success{
    z-index: 5;
    opacity:1;
  }
  &.error{
    z-index: 5;
    opacity:1;
  }
}
.overlay-loading{
  -webkit-transition:all linear 0.6s;
  transition:all linear 0.6s;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  width: 100%;
  height: 100%;
  position: fixed;
  opacity:1;
  background-color: #F5F5F5;
  z-index: 5;
}

.notification_div{
  position:fixed;
  -webkit-transition:all linear 2s;
  transition:all linear 2s;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 0px 0px 0px;
  left: ~"calc(50% - 200px)";
  z-index: 10;
  top: ~"calc(50% - 80px)";
  width: 400px;
  p{
    text-align:center;
  }
  &.success{
    background-color:#2ecc71;
    .box-shadow(inset 0 -1px 0 darken(#2ecc71, 17%));
    opacity:1;
  }
  &.error{
    background-color:#e74c3c;
    .box-shadow(inset 0 -1px 0 darken(#e74c3c, 17%));
    opacity:1;
  }
  &.hidden{
    opacity:0;
  }
}

.loading-overlay{
  position: fixed;
  z-index: -1;
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
  padding-top: 40vh;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in, z-index 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in, z-index 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in, z-index 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in, z-index 0.3s ease-in;
  transition: opacity 0.3s ease-in, z-index 0.3s ease-in;
  &.true{
    z-index:1000;
    opacity:1;
  }
}
.sp {
  width: @loader-size;
  height: @loader-size;
  clear: both;
  margin: 20px auto;
}

/* Spinner Slices */
.sp.sp-slices {
  border-radius: 50%;
  border-top: @loader-size/2 rgba(0, 0, 0, 0.75) solid;
  border-left: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
  border-bottom: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
  border-right: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
  -webkit-animation: spSlices 1s infinite linear;
  animation: spSlices 1s infinite linear;
}

@-webkit-keyframes spSlices {
  0% {
    border-top: @loader-size/2 rgba(0, 0, 0, 0.75) solid;
    border-right: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-bottom: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-left: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
  }
  25% {
    border-top: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-right: @loader-size/2 rgba(0, 0, 0, 0.75) solid;
    border-bottom: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-left: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
  }
  50% {
    border-top: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-right: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-bottom: @loader-size/2 rgba(0, 0, 0, 0.75) solid;
    border-left: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
  }
  75% {
    border-top: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-right: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-bottom: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-left: @loader-size/2 rgba(0, 0, 0, 0.75) solid;
  }
  100% {
    border-top: @loader-size/2 rgba(0, 0, 0, 0.75) solid;
    border-right: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-bottom: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-left: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
  }
}
@keyframes spSlices {
  0% {
    border-top: @loader-size/2 rgba(0, 0, 0, 0.75) solid;
    border-right: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-bottom: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-left: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
  }
  25% {
    border-top: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-right: @loader-size/2 rgba(0, 0, 0, 0.75) solid;
    border-bottom: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-left: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
  }
  50% {
    border-top: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-right: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-bottom: @loader-size/2 rgba(0, 0, 0, 0.75) solid;
    border-left: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
  }
  75% {
    border-top: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-right: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-bottom: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-left: @loader-size/2 rgba(0, 0, 0, 0.75) solid;
  }
  100% {
    border-top: @loader-size/2 rgba(0, 0, 0, 0.75) solid;
    border-right: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-bottom: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
    border-left: @loader-size/2 rgba(0, 0, 0, 0.25) solid;
  }
}