<div class="menu-toggle" ng-click="ShowHide()"  ng-class="{'on': IsHidden}">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
</div>
<div class="menu-section off-menu" ng-class="{'on-menu in': IsHidden, 'off-menu off': !IsHidden}">
  	<nav>
		<ul role="navigation off-menu" ng-class="{'on-menu down': IsHidden, 'off-menu up': !IsHidden}">
			<li><a ng-class="getClass('home')" ui-sref="home">Home</a></li>
			<li><a ng-class="getClass('write')" ui-sref="write">Write an article</a></li>
		</ul>
	</nav>
</div>
<div class="overlay" ng-class="header.notification.typenotif">
	
</div>

<div class="notification_div" ng-class="header.notification.typenotif">
	<p>{{header.notification.message}}</p>
</div>
<div class="loading-overlay" ng-class="{'true' : header.showLoader()}"><div class="sp sp-slices"></div></div>